html {
    scroll-behavior: smooth;
}

body {
    background: #252525;
    font-family: "Baloo Tamma 2", cursive;
}

/* Main Heading Font */
.m-heading {
    font-family: "Roboto Slab", serif;
}

.text-white {
    color: white;
}

/* Main Container height*/
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

}